@using AppiSimo.Client.Model.Auth

@inherits LoginBadgeComponent

@if (User != User.Anonymous)
{
    <span class="mr-2">Benvenuto @User.Profile.Name</span>
    <input type="button" @onclick="SignOut" value="Logout"/>
}
else
{
    <input type="button" @onclick="SignIn" value="Login"/>
}