.mat-datepicker-calendar-container
{
    position: relative;
}
.mat-datepicker-calendar {
    user-select: none;
    left: 15px;
    top: 58px;
    background: white;
    opacity: 0;
    display: none;
    text-align: center;
    visibility: hidden;
    padding: 0;
    
    animation: none;
    direction: ltr;
    border: 0;
    font-size: 14px;
    line-height: 24px;
    border-radius: 5px;
    position: absolute;
    width: 308px;
    
    box-sizing: border-box;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    
    box-shadow: 1px 0 0 #e6e6e6, -1px 0 0 #e6e6e6, 0 1px 0 #e6e6e6, 0 -1px 0 #e6e6e6, 0 3px 13px rgba(0,0,0,0.08);
}
.mat-datepicker-calendar.open,
.mat-datepicker-calendar.inline {
    opacity: 1;
    max-height: 640px;
    visibility: visible;
}
.mat-datepicker-calendar.open {
    display: inline-block;
    z-index: 99999;
}
.mat-datepicker-calendar.animate.open {
    
    animation: fpFadeInDown 300ms cubic-bezier(0.23, 1, 0.32, 1);
}
.mat-datepicker-calendar.inline {
    display: block;
    position: relative;
    top: 2px;
}
.mat-datepicker-calendar.static {
    position: absolute;
    top: calc(100% + 2px);
}
.mat-datepicker-calendar.static.open {
    z-index: 999;
    display: block;
}
.mat-datepicker-calendar.multiMonth .mat-datepicker-days .dayContainer:nth-child(n+1) .mat-datepicker-day.inRange:nth-child(7n+7) {
    
    box-shadow: none !important;
}
.mat-datepicker-calendar.multiMonth .mat-datepicker-days .dayContainer:nth-child(n+2) .mat-datepicker-day.inRange:nth-child(7n+1) {
    
    box-shadow: -2px 0 0 #e6e6e6, 5px 0 0 #e6e6e6;
}
.mat-datepicker-calendar .hasWeeks .dayContainer,
.mat-datepicker-calendar .hasTime .dayContainer {
    border-bottom: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.mat-datepicker-calendar .hasWeeks .dayContainer {
    border-left: 0;
}
.mat-datepicker-calendar.showTimeInput.hasTime .mat-datepicker-time {
    height: 40px;
    border-top: 1px solid #e6e6e6;
}
.mat-datepicker-calendar.noCalendar.hasTime .mat-datepicker-time {
    height: auto;
}
.mat-datepicker-calendar:before,
.mat-datepicker-calendar:after {
    position: absolute;
    display: block;
    pointer-events: none;
    border: solid transparent;
    content: '';
    height: 0;
    width: 0;
    left: 22px;
}
.mat-datepicker-calendar.rightMost:before,
.mat-datepicker-calendar.rightMost:after {
    left: auto;
    right: 22px;
}
.mat-datepicker-calendar:before {
    border-width: 5px;
    margin: 0 -5px;
}
.mat-datepicker-calendar:after {
    border-width: 4px;
    margin: 0 -4px;
}
.mat-datepicker-calendar.arrowTop:before,
.mat-datepicker-calendar.arrowTop:after {
    bottom: 100%;
}
.mat-datepicker-calendar.arrowTop:before {
    border-bottom-color: #e6e6e6;
}
.mat-datepicker-calendar.arrowTop:after {
    border-bottom-color: #fff;
}
.mat-datepicker-calendar.arrowBottom:before,
.mat-datepicker-calendar.arrowBottom:after {
    top: 100%;
}
.mat-datepicker-calendar.arrowBottom:before {
    border-top-color: #e6e6e6;
}
.mat-datepicker-calendar.arrowBottom:after {
    border-top-color: #fff;
}
.mat-datepicker-calendar:focus {
    outline: 0;
}
.mat-datepicker-wrapper {
    position: relative;
    display: inline-block;
}
.mat-datepicker-months {
    display: flex;
    align-items: center;
}
.mat-datepicker-month-year{
    flex: 1;
}
.mat-datepicker-months .mat-datepicker-month {
    background: transparent;
    color: rgba(0,0,0,0.9);
    fill: rgba(0,0,0,0.9);
    line-height: 1;
    text-align: center;
    position: relative;
    
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow: hidden;
    
    
    -ms-flex: 1;
    flex: 1;
}
.mat-datepicker-months .mat-datepicker-prev-month,
.mat-datepicker-months .mat-datepicker-next-month {
    text-decoration: none;
    cursor: pointer;
    padding: 16px 10px;
    z-index: 3;
    color: rgba(0,0,0,0.9);
    fill: rgba(0,0,0,0.9);
}
.mat-datepicker-months .mat-datepicker-prev-month.mat-datepicker-disabled,
.mat-datepicker-months .mat-datepicker-next-month.mat-datepicker-disabled {
    display: none;
}
.mat-datepicker-months .mat-datepicker-prev-month i,
.mat-datepicker-months .mat-datepicker-next-month i {
    position: relative;
}
.mat-datepicker-months .mat-datepicker-prev-month:hover,
.mat-datepicker-months .mat-datepicker-next-month:hover {
    color: #959ea9;
}
.mat-datepicker-months .mat-datepicker-prev-month:hover svg,
.mat-datepicker-months .mat-datepicker-next-month:hover svg {
    fill: #f64747;
}
.mat-datepicker-months .mat-datepicker-prev-month svg,
.mat-datepicker-months .mat-datepicker-next-month svg {
    width: 14px;
    height: 14px;
}
.mat-datepicker-months .mat-datepicker-prev-month svg path,
.mat-datepicker-months .mat-datepicker-next-month svg path {
    
    transition: fill 0.1s;
    fill: inherit;
}
.numInputWrapper {
    position: relative;
    height: auto;
}
.numInputWrapper input,
.numInputWrapper span {
    display: inline-block;
}
.numInputWrapper input {
    width: 100%;
}
.numInputWrapper input::-ms-clear {
    display: none;
}
.numInputWrapper input::
.numInputWrapper input::
    margin: 0;
    
}
.numInputWrapper span {
    position: absolute;
    right: 0;
    width: 14px;
    padding: 0 4px 0 2px;
    height: 50%;
    line-height: 50%;
    opacity: 0;
    cursor: pointer;
    border: 1px solid rgba(57,57,57,0.15);
    
    box-sizing: border-box;
}
.numInputWrapper span:hover {
    background: rgba(0,0,0,0.1);
}
.numInputWrapper span:active {
    background: rgba(0,0,0,0.2);
}
.numInputWrapper span:after {
    display: block;
    content: "";
    position: absolute;
}
.numInputWrapper span.arrowUp {
    top: 0;
    border-bottom: 0;
}
.numInputWrapper span.arrowUp:after {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 4px solid rgba(57,57,57,0.6);
    top: 26%;
}
.numInputWrapper span.arrowDown {
    top: 50%;
}
.numInputWrapper span.arrowDown:after {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid rgba(57,57,57,0.6);
    top: 40%;
}
.numInputWrapper span svg {
    width: inherit;
    height: auto;
}
.numInputWrapper span svg path {
    fill: rgba(0,0,0,0.5);
}
.numInputWrapper:hover {
    background: rgba(0,0,0,0.05);
}
.numInputWrapper:hover span {
    opacity: 1;
}
.mat-datepicker-current-month {
    font-size: 135%;
    font-weight: 300;
    color: inherit;
    width: 75%;
    left: 12.5%;
    padding: 7.48px 0 0 0;
    display: inline-block;
    text-align: center;
    
    transform: translate3d(0px, 0px, 0px);
}
.mat-datepicker-current-month span.cur-month {
    font-family: inherit;
    font-weight: 700;
    color: inherit;
    display: inline-block;
    margin-left: 0.5ch;
    padding: 0;
}
.mat-datepicker-current-month span.cur-month:hover {
    background: rgba(0,0,0,0.05);
}
.mat-datepicker-current-month .numInputWrapper {
    width: 6ch;
    width: 7ch\0;
    display: inline-block;
}
.mat-datepicker-current-month .numInputWrapper span.arrowUp:after {
    border-bottom-color: rgba(0,0,0,0.9);
}
.mat-datepicker-current-month .numInputWrapper span.arrowDown:after {
    border-top-color: rgba(0,0,0,0.9);
}
.mat-datepicker-current-month input.cur-year {
    background: transparent;
    
    box-sizing: border-box;
    color: inherit;
    cursor: text;
    padding: 0 0 0 0.5ch;
    margin: 0;
    display: inline-block;
    font-size: inherit;
    font-family: inherit;
    font-weight: 300;
    line-height: inherit;
    height: auto;
    border: 0;
    border-radius: 0;
    vertical-align: initial;
    
    -moz-appearance: textfield;
    appearance: textfield;
}
.mat-datepicker-current-month input.cur-year:focus {
    outline: 0;
}
.mat-datepicker-current-month input.cur-year[disabled],
.mat-datepicker-current-month input.cur-year[disabled]:hover {
    font-size: 100%;
    color: rgba(0,0,0,0.5);
    background: transparent;
    pointer-events: none;
}
.mat-datepicker-current-month .mat-datepicker-monthDropdown-months {
    width: 100%;
}

.mat-datepicker-weekdays {
    background: transparent;
    text-align: center;
    overflow: hidden;
    width: 100%;
    
    
   
    display: flex;
    
    
    -ms-flex-align: center;
    align-items: center;
    height: 28px;
}
.mat-datepicker-weekdays .mat-datepicker-weekdaycontainer {
    
    
   
    display: flex;
    
    
    -ms-flex: 1;
    flex: 1;
}
span.mat-datepicker-weekday {
    cursor: default;
    font-size: 90%;
    background: transparent;
    color: rgba(0,0,0,0.54);
    line-height: 1;
    margin: 0;
    text-align: center;
    display: block;
    
    
    -ms-flex: 1;
    flex: 1;
    font-weight: bolder;
}
.dayContainer,
.mat-datepicker-weeks {
    padding: 1px 0 0 0;
}
.mat-datepicker-days {
    position: relative;
    overflow: hidden;
    
    
   
    display: flex;
    
    
    -ms-flex-align: start;
    align-items: flex-start;
    width: 307.875px;
}
.mat-datepicker-days:focus {
    outline: 0;
}
.dayContainer {
    padding: 0;
    outline: 0;
    text-align: left;
    width: 307.875px;
    min-width: 307.875px;
    max-width: 307.875px;
    
    box-sizing: border-box;
    display: inline-block;
   
    
    
    display: flex;
    
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -ms-flex-pack: justify;
    
    justify-content: space-around;
    
    transform: translate3d(0px, 0px, 0px);
    opacity: 1;
}
.dayContainer + .dayContainer {
    
    box-shadow: -1px 0 0 #e6e6e6;
}
.mat-datepicker-day {
    background: none;
    border: 1px solid transparent;
    border-radius: 150px;
    
    box-sizing: border-box;
    color: #393939;
    cursor: pointer;
    font-weight: 400;
    width: 14.2857143%;
    
    -ms-flex-preferred-size: 14.2857143%;
    flex-basis: 14.2857143%;
    max-width: 39px;
    height: 39px;
    line-height: 39px;
    margin: 0;
    display: inline-block;
    position: relative;
    
    
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
}
.mat-datepicker-day.inRange,
.mat-datepicker-day.otherMonthDay.inRange,
.mat-datepicker-day.today.inRange,
.mat-datepicker-day.otherMonthDay.today.inRange,
.mat-datepicker-day:hover,
.mat-datepicker-day.otherMonthDay:hover,
.mat-datepicker-day:focus,
.mat-datepicker-day.otherMonthDay:focus {
    cursor: pointer;
    outline: 0;
    background: #e6e6e6;
    border-color: #e6e6e6;
}
.mat-datepicker-day.today {
    border-color: #959ea9;
}
.mat-datepicker-day.today:hover,
.mat-datepicker-day.today:focus {
    border-color: #959ea9;
    background: #959ea9;
    color: #fff;
}
.mat-datepicker-day.selected,
.mat-datepicker-day.startRange,
.mat-datepicker-day.endRange,
.mat-datepicker-day.selected.inRange,
.mat-datepicker-day.startRange.inRange,
.mat-datepicker-day.endRange.inRange,
.mat-datepicker-day.selected:focus,
.mat-datepicker-day.startRange:focus,
.mat-datepicker-day.endRange:focus,
.mat-datepicker-day.selected:hover,
.mat-datepicker-day.startRange:hover,
.mat-datepicker-day.endRange:hover,
.mat-datepicker-day.selected.otherMonthDay,
.mat-datepicker-day.startRange.otherMonthDay,
.mat-datepicker-day.endRange.otherMonthDay {
    background: #569ff7;
    
    box-shadow: none;
    color: #fff;
    border-color: #569ff7;
}
.mat-datepicker-day.selected.startRange,
.mat-datepicker-day.startRange.startRange,
.mat-datepicker-day.endRange.startRange {
    border-radius: 50px 0 0 50px;
}
.mat-datepicker-day.selected.endRange,
.mat-datepicker-day.startRange.endRange,
.mat-datepicker-day.endRange.endRange {
    border-radius: 0 50px 50px 0;
}
.mat-datepicker-day.selected.startRange + .endRange:not(:nth-child(7n+1)),
.mat-datepicker-day.startRange.startRange + .endRange:not(:nth-child(7n+1)),
.mat-datepicker-day.endRange.startRange + .endRange:not(:nth-child(7n+1)) {
    
    box-shadow: -10px 0 0 #569ff7;
}
.mat-datepicker-day.selected.startRange.endRange,
.mat-datepicker-day.startRange.startRange.endRange,
.mat-datepicker-day.endRange.startRange.endRange {
    border-radius: 50px;
}
.mat-datepicker-day.inRange {
    border-radius: 0;
    
    box-shadow: -5px 0 0 #e6e6e6, 5px 0 0 #e6e6e6;
}
.mat-datepicker-day.mat-datepicker-disabled,
.mat-datepicker-day.mat-datepicker-disabled:hover,
.mat-datepicker-day.otherMonthDay,
.mat-datepicker-day.notAllowed,
.mat-datepicker-day.notAllowed.otherMonthDay {
    color: rgba(57,57,57,0.3);
    background: transparent;
    border-color: transparent;
    cursor: default;
}
.mat-datepicker-day.mat-datepicker-disabled,
.mat-datepicker-day.mat-datepicker-disabled:hover {
    cursor: not-allowed;
    color: rgba(57,57,57,0.1);
}
.mat-datepicker-day.week.selected {
    border-radius: 0;
    
    box-shadow: -5px 0 0 #569ff7, 5px 0 0 #569ff7;
}
.mat-datepicker-day.hidden {
    visibility: hidden;
}
.rangeMode .mat-datepicker-day {
    margin-top: 1px;
}
.mat-datepicker-weekwrapper {
    float: left;
}
.mat-datepicker-weekwrapper .mat-datepicker-weeks {
    padding: 0 12px;
    
    box-shadow: 1px 0 0 #e6e6e6;
}
.mat-datepicker-weekwrapper .mat-datepicker-weekday {
    float: none;
    width: 100%;
    line-height: 28px;
}
.mat-datepicker-weekwrapper span.mat-datepicker-day,
.mat-datepicker-weekwrapper span.mat-datepicker-day:hover {
    display: block;
    width: 100%;
    max-width: none;
    color: rgba(57,57,57,0.3);
    background: transparent;
    cursor: default;
    border: none;
}
.mat-datepicker-innerContainer {
    display: block;
    
    
   
    display: flex;
    
    box-sizing: border-box;
    overflow: hidden;
}
.mat-datepicker-rContainer {
    display: inline-block;
    padding: 0;
    
    box-sizing: border-box;
}
.mat-datepicker-time {
    text-align: center;
    outline: 0;
    display: block;
    height: 0;
    line-height: 40px;
    max-height: 40px;
    
    box-sizing: border-box;
    overflow: hidden;
    
    
   
    display: flex;
}
.mat-datepicker-time:after {
    content: "";
    display: table;
    clear: both;
}
.mat-datepicker-time .numInputWrapper {
    
    
    -ms-flex: 1;
    flex: 1;
    width: 40%;
    height: 40px;
    float: left;
}
.mat-datepicker-time .numInputWrapper span.arrowUp:after {
    border-bottom-color: #393939;
}
.mat-datepicker-time .numInputWrapper span.arrowDown:after {
    border-top-color: #393939;
}
.mat-datepicker-time.hasSeconds .numInputWrapper {
    width: 26%;
}
.mat-datepicker-time.time24hr .numInputWrapper {
    width: 49%;
}
.mat-datepicker-time input {
    background: transparent;
    
    box-shadow: none;
    border: 0;
    border-radius: 0;
    text-align: center;
    margin: 0;
    padding: 0;
    height: inherit;
    line-height: inherit;
    color: #393939;
    font-size: 14px;
    position: relative;
    
    box-sizing: border-box;
    
    -moz-appearance: textfield;
    appearance: textfield;
}
.mat-datepicker-time input.mat-datepicker-hour {
    font-weight: bold;
}
.mat-datepicker-time input.mat-datepicker-minute,
.mat-datepicker-time input.mat-datepicker-second {
    font-weight: 400;
}
.mat-datepicker-time input:focus {
    outline: 0;
    border: 0;
}
.mat-datepicker-time .mat-datepicker-time-separator,
.mat-datepicker-time .mat-datepicker-am-pm {
    height: inherit;
    float: left;
    line-height: inherit;
    color: #393939;
    font-weight: bold;
    width: 2%;
    
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
    -ms-flex-item-align: center;
    align-self: center;
}
.mat-datepicker-time .mat-datepicker-am-pm {
    outline: 0;
    width: 18%;
    cursor: pointer;
    text-align: center;
    font-weight: 400;
}
.mat-datepicker-time input:hover,
.mat-datepicker-time .mat-datepicker-am-pm:hover,
.mat-datepicker-time input:focus,
.mat-datepicker-time .mat-datepicker-am-pm:focus {
    background: #eee;
}
.mat-datepicker-input[readonly] {
    cursor: pointer;
}
@
    from {
        opacity: 0;
        
        transform: translate3d(0, -20px, 0);
    }
    to {
        opacity: 1;
        
        transform: translate3d(0, 0, 0);
    }
}
@keyframes fpFadeInDown {
    from {
        opacity: 0;
        
        transform: translate3d(0, -20px, 0);
    }
    to {
        opacity: 1;
        
        transform: translate3d(0, 0, 0);
    }
}
