@page "/users"
@attribute [Authorize]

@using Microsoft.AspNetCore.Authorization
@inherits UsersComponent

@if (Profiles == null)
{
    <span>Loading ...</span>
    return;
}

<div class="d-flex justify-content-end mb-2">
    <MatButton Type="button" Outlined="true" OnClick="GoToCreate">Crea</MatButton>
</div>

<div class="d-flex justify-content-end mb-2">

    <table class="table table-striped">
    
        <thead class="thead-dark">
        <tr>
            <th scope="col">
                <span>#</span>
            </th>
            <th>Socio</th>
            <th>Data di Nascita</th>
            <th></th>
        </tr>
        </thead>
    
        <tbody>
        @foreach (var (viewModel, index) in Profiles.Select((value, i) => (value, i)))
        {
            <tr>
                <th>@($"{index + 1}")</th>
                <td>@($"{viewModel.Name} {viewModel.Surname}")</td>
                <td>@($"{viewModel.FormattedBirthDate()}")</td>
                <td><MatButton Type="button" Outlined="true" OnClick="() => GoToEdit(viewModel.Id)">Modifica</MatButton></td>
            </tr>
        }
        </tbody>
    </table>
</div>