@typeparam TItem
@inherits TableTemplateComponent<TItem>

<table class="table table-striped">

    <thead class="thead-dark">
    <tr>
        <th scope="col">
            <span>#</span>
        </th>
        @TableHeader
    </tr>
    </thead>

    <tbody>
    @foreach (var item in Items.Select((value, i) => (value, i)))
    {
        <tr>
            <th>@($"{item.i + 1}")</th>
            @RowTemplate(item.value)
        </tr>
    }
    </tbody>
</table>