@page "/club-dashboard/light/create"
@page "/club-dashboard/light/edit/{id:guid}"

@inherits LightDetailComponent

<EditForm Model="@ViewModel" OnValidSubmit="@(async () => await HandleValidSubmit())">

    <DataAnnotationsValidator/>
    <ValidationSummary/>


    <input id="type" bind-Value="ViewModel.Type"/>
    <input id="price" type="number" bind="ViewModel.Price"/>
    <input id="enabled" bind-Value="ViewModel.Enable"/>

    <button type="submit">Submit</button>
</EditForm>